<header id="header">
  {! navigation black bar - common sites !}

  <nav id="common-sites" class="navigation-bar">
    <ul>
      <li>
        <a href="https://wwww.fintraffic.fi" style="margin-right: 1.5rem; align-self: center; display: inline-flex">
          <img src="/kooste/static/images/fintraffic_logo.svg" style="height: 18px; width: 106px" alt="Fintraffic logo"/>
        </a>
      </li>
    </ul>
  </nav>
  {! navigation white bar - site navigation !}
  <nav id="site-navigation" class="navigation-bar">
    {! left group items !}
    <span style="display: flex">
      <ul style="min-height: 56px">
        <li style="font-weight: 800; margin-right: 0.5rem">Kooste</li>
      </ul>
    </span>
    {! right group items !}
    <span style="margin-left: auto">
      <ul style="min-height: 56px">
      </ul>
    </span>
  </nav>
</header>
