{#include main.html}
{#title}{msg:page_title}{/title}
<h1>{msg:page_header}</h1>

<table id="publications">
  <thead>
  <tr>
    <th class="codespace" scope="col">{msg:table_header_codespace}</th>
    <th class="label" scope="col">{msg:table_header_label}</th>
    <th scope="col">{msg:table_header_timestamp}</th>
    <th class="format">{msg:table_header_format}</th>
    <th class="url" scope="col">{msg:table_header_downloadLink}</th>
  </tr>
  </thead>
  <tbody>
  {#for publication in publications}
  <tr>
    <th scope="row">{publication.codespace}</th>
    <td>{publication.label}</td>
    <td>{time:format(publication.timestamp, msg:publication_timestamp_format, locale)}</td>
    <td>{publication.format}</td>
    <td class="url"><a href="{publication.url}" target="_blank" rel="nofollow noopener noreferrer">{publication.fileName}</a></td>
  </tr>
  {/for}
  </tbody>
</table>
